.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  color: white;
  padding: 1rem;
  font-size: 1.4rem;
  border-bottom: 4px solid #3498db;
}

.logo {
  font-weight: bold;
}

.user {
  font-style: italic;
}
